<div class="planet-show container">
  <h1><%= @planet.name %></h1>

  <div class="d-flex">

    <div class="planet-info me-5 mb-5">

      <div class="planet-info-img">
        <% if @planet.photo.key.nil? %>
          <%= cl_image_tag("v1653561202/production/mars_ketmrx.jpg", width: 100, height: 100) %>
          <%else %>
          <%= cl_image_tag @planet.photo.key, crop: :fill, class: 'w-100' %>
        <% end %>
      </div>

      <div class="planet-info-description">
        <h3>About This Planet</h3>
        <hr>
        <%= @planet.description %>
        <p>This planet was discovered on <%= @planet.discovery_date %> by <%= @planet.discovered_by %> .</p>
      </div>

      <div class="planet-info-tech">
        <h3>Technical Informations</h3>
        <hr>
        <p><i class="fa-solid fa-sitemap"></i> Type of planet: <%= @planet.object %></p>
        <p><i class="fa-solid fa-temperature-half"></i> Temperature: <%= @planet.temperature %> °C</p>
        <p><i class="fa-solid fa-satellite"></i> Orbital period: <%= @planet.orbital_period %> days</p>
        <p><i class="fa-solid fa-moon"></i> Moons: <%= @planet.moons %>
        <p><i class="fa-solid fa-rotate"></i> Radius: <%= @planet.radius %> km</p>
      </div>

      <div class="planet-info-reviews">
        <h3>Reviews</h3>
        <hr>
        <% if !@current_user_booking.nil? %>
            <%= simple_form_for [@current_user_booking, @review] do |f| %>
              <%= f.input :rating, collection: 0..5 %>
              <%= f.input :content %>
              <%= f.submit class: 'btn btn-primary' %>
            <% end %>
        <% end %>
      </div>

    </div>

    <div class="planet-resa card-body border text-white rounded mb-3 bg-dark-opacity-10">

      <div class="planet-resa-price d-flex justify-content-between">
        <p><strong><%= @planet.price_per_day %> €</strong> / day</p>

        <div class="planet-resa-price-rating d-flex justify-content-between">
          <p><i class="fa fa-star checked"></i> 4.5</p>

        </div>

      </div>

      <%= render "bookings/form", planet: @planet, booking: Booking.new  %>



    </div>

  </div>
</div>
