<div class="planet-show container">

  <div class="d-flex justify-content-between">
    <h1><%= @planet.name %></h1>
    <%= link_to "Back to all planets", planets_path, id: "simple-link" %>
  </div>

  <div class="d-flex">

    <div class="planet-info me-5 mb-5">

      <div class="planet-info-img">
        <% if @planet.photo.key.nil? %>
          <%= cl_image_tag("v1653561202/production/mars_ketmrx.jpg", class: 'planet-info-img') %>
          <%else %>
          <%= cl_image_tag @planet.photo.key, crop: :fill, class: 'planet-info-img' %>
        <% end %>
      </div>

      <div class="planet-info-description">
        <h3>About this <%= @planet.object %></h3>
        <hr>
        <%= @planet.description %>
      </div>

      <div class="planet-info-tech">
        <h3>Technical Informations</h3>
        <hr>
        <p><i class="fa-solid fa-sitemap"></i> Type of planet: <%= @planet.object %></p>
        <p><i class="fa-solid fa-temperature-half"></i> Temperature: <%= @planet.temperature %> °C</p>
        <p><i class="fa-solid fa-satellite"></i> Orbital period: <%= @planet.orbital_period %> days</p>
        <p><i class="fa-solid fa-moon"></i> Moons: <%= @planet.moons %>
        <p><i class="fa-solid fa-rotate"></i> Radius: <%= @planet.radius %> km</p>
      </div>

      <div class="planet-info-reviews">
        <% if !@current_user_booking.nil? %>
          <h3>Reviews</h3>
          <hr>
            <% if @planet.bookings.map(&:reviews).empty? %>
                <p>Be the first to review this <%= @planet.object %>!</p>
            <% else %>
          <% @planet.bookings.each do |booking| %>
            <h4><%= pluralize booking.reviews.size, "review" %></h4>
              <p><% booking.reviews.each do |review| %></p>
                <p><i class="fa fa-star checked"></i>  <%= review.rating %> - <%= review.content %></p>
              <% end %>
            <% end %>
          <% end %>
            <div class="review-form">
              <%= simple_form_for [@current_user_booking, @review] do |f| %>
                <%= f.input :rating, collection: 0..5 %>
                <%= f.input :content, as: :text %>
                <%= f.submit class: 'btn btn-yellow' %>
              <% end %>
            </div>
        <% end %>



      </div>

    </div>

    <div class="planet-resa card-body border text-white rounded mb-3 bg-dark-opacity-10">

      <div class="planet-resa-price d-flex justify-content-between">
        <p><strong><%= @planet.price_per_day %> €</strong> / day</p>

        <div class="planet-resa-price-rating d-flex justify-content-between">
        <% if !@planet.reviews.empty? %>
          <p><i class="fa fa-star checked mx-2"></i></p>
          <% ratings =[] %>
          <% @planet.reviews.each do |review| %>
          <% ratings << review.rating %>
          <% end %>
          <%= (ratings.inject{ |sum, n| sum + n }.to_f / ratings.size).round(1) %>
        <% end %>
        </div>

      </div>

      <%= render "bookings/form", planet: @planet, booking: Booking.new  %>

    </div>

  </div>
</div>
