<div class="planet-show container">
  <h1><%= @planet.name %></h1>

  <div class="d-flex">

    <div class="planet-info me-5 mb-5">

      <div class="planet-info-img">
        <% if @planet.photo.key.nil? %>
          <%= cl_image_tag asset_path('mars.jpg'), crop: :fill, class: 'w-100' %>
          <%else %>
          <%= cl_image_tag @planet.photo.key, crop: :fill, class: 'w-100' %>
        <% end %>
      </div>

      <div class="planet-info-description">
        <h3>About this planet</h3>
        <hr>
        <%= @planet.description %><!-- A SUPPRIMER : --><p>Le nom donné à ce satellite est celui de Phobos, un personnage de la mythologie grecque. Phobos et Déimos sont les jumeaux que le dieu Arès (Mars pour les Romains) eut de la déesse Aphrodite (Vénus pour les Romains).</p>
      </div>

      <div class="planet-info-tech">
        <h3>Technical informations</h3>
        <hr>
        <p><i class="fa-solid fa-sitemap"></i> Type of planet: <%= @planet.object %></p>
        <p><i class="fa-solid fa-temperature-half"></i> Temperature: <%= @planet.temperature %><!-- A SUPPRIMER : -->32°C</p>
        <p><i class="fa-solid fa-satellite"></i> Orbital period: <%= @planet.orbital_period %></p>
        <!-- <%= @planet.radius %> -->
        <p><i class="fa-solid fa-moon"></i> Moons: <%= @planet.moons %><!-- A SUPPRIMER : -->Moon 1, Moon 2</p>
        <p><i class="fa-solid fa-rotate"></i> Surface area: <%= @planet.surface_area %></p>
      </div>

    </div>

    <div class="planet-resa card-body border text-white rounded mb-3 bg-dark-opacity-10">

      <div class="planet-resa-price d-flex justify-content-between">
        <p><strong><%= @planet.price_per_day %> €</strong> / day</p>

        <div class="planet-resa-price-rating d-flex justify-content-between">
          <p>4.5</p>
          <i class="fa fa-star checked"></i>
        </div>

      </div>

      <%# <a href="#" class="btn-book">Book this planet</a> %>
      <%= link_to "Book this planet", new_planet_booking_path(@planet), class:"btn-book" %>

      <div class="d-flex bd-highlight">
        <p class="pt-3 flex-grow-1 bd-highlight">Cleaning fees</p>
        <p class="pt-3 bd-highlight">4.95 €</p>
      </div>

      <div class="d-flex bd-highlight">
        <p class="pt-3 flex-grow-1 bd-highlight">Service fees</p>
        <p class="pt-3 bd-highlight">11.90 €</p>
      </div>

      <div class="d-flex bd-highlight border-bottom">
        <p class="pt-3 flex-grow-1 bd-highlight">Tourist tax</p>
        <p class="pt-3 bd-highlight">6.95 €</p>
      </div>

      <div class="d-flex bd-highlight">
        <p class="pt-3 flex-grow-1 bd-highlight"><strong>Total</strong></p>
        <p class="pt-3 bd-highlight"><strong>23.80 €</strong></p>
      </div>

    </div>

  </div>
</div>
