<div class="container">
  <h1 class="mb-4"><%= @user.first_name %>'s Dashboard </h1>

  <div class="row">
  <div class="col-6">
    <h3>My Upcoming Reservations</h3>

      <% @my_booked_planets.each do |my_booked_planet| %>
        <div class="card-product">
          <img src="../assets/mars" />
          <div class="card-product-infos">
            <h2> <%= my_booked_planet.name %></h2>
            <p> <%= my_booked_planet.object %> hosted by planet owner only.</p>
            <p>19/20 - 20/20 </p>
            <p>Status: <i class="fa-solid fa-circle"></i> Confirmed </p>
            <%# <p>Status: <i class="fa-solid fa-circle"></i> Pending </p> %>
          </div>
        </div>
      <% end %>

    </div>

  <div class="col-6">
    <div class="d-flex justify-content-between align-self-start">
    <h3>My Planets</h3>
    <%= link_to "Add New Planet", planets_path, class:"btn-new-planet" %>
    </div>
      <div class="cards-planets mt-4">
      <div class="row">
          <% @my_planets.each do |my_planet| %>
          <div class="col-6">
            <div class="card-planet">
            <img src="../assets/mars" />
            <div class="card-planet-infos">
              <h2> <%= my_planet.name %></h2>
              <p> Status: Reserved</p>
              <p class="rating"><i class="fa fa-star checked"></i> 4.5</p>
            </div>
        </div>
      </div>
      <% end %>
    </div>
    </div>


  </div>
  </div>
</div>
