<!DOCTYPE html>
<html>
  <head>
    <title>Cosmos</title>
    <link rel="icon" type="image/icon" href="https://res.cloudinary.com/dsc1uchot/image/upload/v1653567959/logo/Screenshot_2022-05-23_at_17.14.29-removebg-preview_eqrqvf.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,500;1,200;1,400&family=Open+Sans:wght@300;400&display=swap');
    </style>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_page?(controller: 'pages', action: 'home') %>
        <%= render "devise/shared/navbar_home" %>
      <% elsif current_page?(controller: 'planets', action: 'index') %>
        <%= render "devise/shared/navbar" %>
      <% else %>
        <%= render "devise/shared/navbar_index" %>
      <% end %>
    <% else %>
      <%= render "devise/shared/navbar" %>
    <% end %>

    <%= render "devise/shared/flashes" %>
    <div class="stars-background"></div>
    <%= yield %>
  </body>
</html>
